#Enable/disable modules here.
#Sat Dec 23 16:22:36 GMT 2023
MultiworldV2=false
Afterlife=false
SignTools=false
Remote=false
Teleport=false
ServerVote=false
Economy=true
PlayerLogger=false
AuthLogin=false
Perftools=false
WorldBorder=false
Commands=false
Chat=true
WEIntegrationTools=false
Tickets=false
FENetworking=false
